.project-h2 {
    font-weight: 700;
    padding: 1rem;
}

.project-background-div {
    background-color: rgb(235, 238, 255);
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    border-radius: 40px;
    margin: 1rem auto 15rem auto;
    font-size: 1.3rem;
}

.project-div {
    width: 90%;
    margin: 1rem;
    border-radius: 30px;
    padding: 2rem;
    border: none !important;

    box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0.1), 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

    transition: all 0.8s ease;
    transform: translate3d(0px, 0px, 0px) scale3d(0.96, 0.96, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
    opacity: 0;
    transform-style: preserve-3d;
}

.visible {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
    opacity: 1;
}


.project-image-div {
    width: 10%;
    padding: 0.5rem;
}

.project-text-div {
    width: 90%;
    padding: 0.5rem;
}

@media (max-width: 768px) {

    .project-h2 {
        background-color: rgb(235, 238, 255);
        padding: 2rem;
        padding-top: 5rem;
        margin: 1rem 0 0 0;
        font-size: 2rem;
    }

    .project-background-div {
        width: 100%;
        padding: 1rem 0 1rem 0;
        border-radius: 0;
        margin-top: 0;
    }

    .project-div {
        width: 95%;
        border-radius: 5px;
        padding: 1rem;
    }

    .project-image-div {
        width: 20%;
    }

    .project-text-div {
        width: 80%;
    }

}